<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Learning Log</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="#">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <p><a href="{% url 'learn:index' %}">Learning Log</a></p>
        <p><a href="{% url 'learn:topics' %}">Topics</a></p>
        <p>
            {% if user.is_authenticated %}
                Hello👋🏾, {{ user.username }} - 
                <a href="{% url 'users:logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'users:login' %}">Log in</a> -
                <a href="{% url 'users:register' %}">Register</a>
            {% endif %}
        </p>
        <p><a href="{% url 'pizzaz:pizza_index' %}">Pizza</a></p>

        {% comment %} <p><a href="{% url 'pizzaz:index' %}">La pizzeria 🍕</a></p> {% endcomment %}
        {% block content %}{% endblock content %}
    </body>
</html>
